.login{
  text-align: center;
background-color: grey;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  padding-top: 80px;
  margin-left: 15rem;
  margin-top: 5rem;
}
.welcome{
  font-size: x-large;
  color: white;
  padding-bottom: 3rem;
}
.input{
   padding-bottom: 1rem;
}
.outer{
  
}
.dashbord{
    text-align: center;
  color: white;
  width: 80%;
  margin-left: 10%;
  background-color: darkblue;
}
.staff{
    text-align: center;
    justify-content: center;
}
.button{
  background-color:rgb(31,31,61);
  color: white;
  width: 170px;
}
.outerdashbord{
  background-color:whitesmoke;
}
.errorm{
  color: red;
}
