.login{
  text-align: center;
background-color: grey;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  padding-top: 80px;
  margin-left: 15rem;
  margin-top: 5rem;
}
.welcome{
  font-size: x-large;
  color: white;
  padding-bottom: 3rem;
}
.input{
   padding-bottom: 1rem;
}
.outer{
  
}
.dashbord{
    text-align: center;
  color: white;
  width: 80%;
  margin-left: 10%;
  background-color: darkblue;
}
.staff{
    text-align: center;
    justify-content: center;
}
.button{
  background-color:rgb(31,31,61);
  color: white;
  width: 170px;
}
.editbutton{
  
  background-color: red;
  color: white;
}
.confirmbutton{
  margin-left: 2.4rem;
  background-color: blue;
  color: white;
}
.editbuttons{
   margin-right: 2.4rem;
   background-color: blue;
   color: white;
}
.outerdashbord{
  background-color:whitesmoke;
}
.errorm{
  color: red;
}
.staffpage{
  text-align: center;
}
.Stafftitle{
text-align: center;
}
.staffContainer{
  text-align: center;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.table th {
  background-color: #f2f2f2;
}

.table td {
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.modal-content {
  position: absolute;
  top: 12px;
left:300px;
  width: 440px;
  height: 270px;
  border-radius:10px;
  z-index: 2;
}